<!DOCTYPE html>
<html>
  <head>
    <title><%=@page_title%> </title>
    <%= csrf_meta_tags %>

    <META name=<%= @seo_keywords%>/>

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<%= render 'shared/nav', location: 'bottom' %>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%=login_helper 'nav-link'%>
    <%=source_helper("blog")%>

    <%= yield %>

  
<%if session[:source]%>
Thanks for visiting us from <%= session[:source] %>
<%end%>


<div><%=copyright_generator%></div>
  </body>
</html>
